$main-dark-color: #0d1523;
$main-white-color: #ffffff;
$main-black-color: #000000;
$main-yellow-color: #bc8f5b;

$header-border-color: #303030;
$header-gray-color: #eaeaea;

$sidebar-border-color: #3d444f;

$login-border-color: #dddddd;
$login-placeholder-color: #1b1b1b;
